<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/navbar.ejs')  %> 

    <div class="blogs content">
        <h2>All Blogs</h2>


        <!-- conditional rendering using EJS --> 
        <% if(blogs.length>0){%>
           <%blogs.forEach(blog=>{%>

            <a href="/blogs/<%= blog._id  %> ">
            <h3 class="title"><%=blog.title %></h3>
            <p class="snippet"><%= blog.snippet %></p>
        </a>


            <% })%>

       <% }else{%>

     

            <p>There are no blogs to display.</p>
     <a class="mine" href="/blogs/create"></a> Create a bog</p>

        <% } %>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>